/* 
accent pink: FF017B
accent yellow: FFEB57
*/
html {
  width: 25rem;
  background: #000;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  /* border: 2px solid #ffeb57; */
}
body {
  /* background: rgba(30, 30, 30, 0.64); */
  border-radius: 5px;
  padding: 20px;
  border: solid rgba(30, 30, 30, 0.64) 2px;
}

h1 {
  font-family: "Lora", "Courier New", monospace, serif;
}

h1 {
  font-size: 23px;
  font-weight: 600;
  margin-right: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
}

header {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
}

#title {
  display: inline;
}

#subtitle {
  display: inline;
}

.highlight-text {
  color: #ffeb57;
}

#play,
#pause {
  background-color: transparent;
  border: none;
  color: #ff017b;
}

main {
  padding-bottom: 20px;
}

#controls {
  display: flex;
  justify-content: space-around;
}

p,
label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
}

/* 
  INPUT RANGE STYLING
  https://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
  https://css-tricks.com/sliding-nightmare-understanding-range-input/
*/
#volume {
  -webkit-appearance: none;
  background: transparent;
}

#volume::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ff017b;
  margin-top: -7px;
}

#volume:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
