/* 
accent pink: FF017B
accent yellow: FFEB57
*/
html {
  width: 25rem;
  background: #000;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  border-radius: 0.31rem;
  padding: 1.25rem;
  border: solid rgb(30, 30, 30) 0.125rem;
}

h1 {
  font-family: "Lora", "Courier New", monospace, serif;
  font-size: 1.44rem;
  font-weight: 600;
  margin-right: 0.625rem;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
}

header {
  margin-bottom: 1.25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
}

#title {
  display: inline;
}

#subtitle {
  display: inline;
}

.highlight-text {
  color: #ffeb57;
}

#play,
#pause {
  background-color: transparent;
  border: none;
  color: #ff017b;
}

main {
  padding-bottom: 1.25rem;
}

#controls {
  display: flex;
  justify-content: space-around;
}

p,
label {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.375rem;
}

.rem-wrapper {
  width: 1.25rem;
  height: 1.25rem;
}

/* 
  INPUT RANGE STYLING
  https://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
  https://css-tricks.com/sliding-nightmare-understanding-range-input/
*/
#volume {
  -webkit-appearance: none;
  background: transparent;
}

#volume::-webkit-slider-runnable-track {
  width: 18.75rem;
  height: 0.125rem;
  background: #ddd;
  border: none;
  border-radius: 0.1875rem;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #ff017b;
  margin-top: -0.437rem;
}

#volume:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
